<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">





  <h6 class="w3-ripple" style="font-family:Verdana, Geneva, Tahoma, sans-serif;
            background-color:#42145f;
            color: white;
            font-weight: bolder;
            font-variant-caps: all-petite-caps;">
    {{customerName}} Welcome to 'Virtual Pots'.
  </h6>



  <label style="text-align: center;color:#42145f;">

    Virtual Pots will enable you to allocate specific amount of
    money for financial events. You will set the allowance for
    a time period. As you do a spend the amount will be automatically
    deducted from your 'allocation' which will be held in a
    separate pot in your bank account.
    <br>
    <br>
    On next page you will be presented all the
    accounts you have with the Bank.Please
    choose an account to
    move funds into your "pot".
    This will move the funds away
    from your account into the POT, you can send
    the funds back to your account at any time.
    <br>
    <br>


    <br>
    <br>
  </label>

  <label *ngIf="!speech.listening" style="font-style: italic;font-weight:bolder;text-align: center;color:#42145f;">
    Click on "Pot Image" to create a new Pot or amend your existing Pot.</label>

  <label *ngIf="speech.listening" style="font-style: italic;font-weight:bolder;text-align: center;color:tomato;">
    Say "Click Proceed" to create a new Pot or amend your existing Pot.</label>

  <br>
  <button (click)="createPot()" style="background-color: transparent;border:transparent;"><img
      src="../../assets/img/pot.jpg"></button>
  <br>

