<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h6 *ngIf="!customer.activePot.active" class="w3-ripple" style="
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#42145f;
    color: white;
    font-weight:bolder;
    font-variant-caps: all-petite-caps;">
  Create New Pot
</h6>

<h6 *ngIf="customer.activePot.active" class="w3-ripple" style="
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#42145f;
    color: white;
    font-weight:bolder;
    font-variant-caps: all-petite-caps;">
  Amend Your Pot
</h6>

<div style="text-align: left;color:#42145f;">
  <label style="font-size: 10px;color:#42145f;">
    <a>Pot Name :</a>
    <br>
    <input [(ngModel)]="customer.activePot.potName" disabled="{{customer.activePot.active}}" style="
        padding:8px;
        border-color: #1d7b8a;
        width:150px;
        height:15px;" /><br>
    <a *ngIf="speech.listening && !customer.activePot.active"
      style="font-style: italic;font-weight:bolder;text-align: center;color:tomato;">To Name your POt Say ex. "name
      Grocery"</a>
  </label>
  <br>
  <label>

    <a>Budget Allocation (£) </a>
    <i *ngIf="customer.activePot.remainingBalance" class="fa fa-money" style="color: green;font-size:14px;"
      (click)="showBADenominations()" matTooltip="Denominations."></i>:
    <br>
    <input [(ngModel)]="customer.activePot.allocatedAmount" required style="
      padding:8px;
      border-color: #1d7b8a;
      width:150px;
      height:15px;" /><br>
    <a *ngIf="speech.listening" style="font-style: italic;font-weight:bolder;text-align: center;color:tomato;">
      To Allocate Say ex. "allocation 1075".
      <br>
    </a>
    <a *ngIf="speech.listening && customer.activePot.remainingBalance"
      style="font-style: italic;font-weight:bolder;text-align: center;color:tomato;">
      To see denominations say "click budget".
    </a>
  </label>
  <br>

  <label> Expiry Date:
    <br>
    <input type="date" required style="
        padding:8px;
        border-color: #1d7b8a;
        width:150px;
        height:15px;" [(ngModel)]="customer.activePot.expiryDate" />
  </label>
  <br>


  <label>Remaining Allocation (£)
    <i *ngIf="customer.activePot.remainingBalance" class="fa fa-money" style="color: green;font-size:14px;"
      (click)="showRBDenominations()" matTooltip="Denominations."></i>&nbsp;:
    {{customer.activePot.remainingBalance}} &nbsp;&nbsp;<br>
    <a *ngIf="speech.listening && customer.activePot.remainingBalance" style="font-style: italic;font-weight:bolder;text-align: center;color:tomato;">
      To see denominations say "click left".
    </a>
  </label>

  <div style="text-align: left;">
    <span style="color:#42145f;" *ngIf="!customer.activePot.active;"><br>
      <a *ngIf="!speech.listening">Select An Account To Fund Your Pot :</a>
      <a *ngIf="speech.listening" style="font-style: italic;font-weight:bolder;text-align: center;color:tomato;">
        To Select an account Say Ex. "account 514"</a>
    </span>
    <span style="color:#42145f;" *ngIf="customer.activePot.active;">The account linked with Pot:<br></span>
    <mat-radio-group [(ngModel)]="accountId">
      <mat-radio-button *ngFor="let account of customer.accounts;" value="{{account.accountNumber}}"
        disabled="{{customer.activePot.active}}">
        <div style="widows: 100px;font-family:Verdana, Geneva, Tahoma, asans-serif;font-size: 10px;color: #42145f;">
          {{account.accountName}}, A/C : {{account.accountNumber}}, Balance : {{account.balance}} £
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <h6 style="font-family:Verdana, Geneva, Tahoma, asans-serif;font-size: 10px;color:#42145f;"
    *ngIf="alerts.length > 0;">
    <a *ngIf="!speech.listening" style="font-size: 10px;color:#42145f;font-variant-caps: all-petite-caps;">Click on
      alert icon to see alerts/notifications.</a>
    <a *ngIf="speech.listening"
      style="font-style: italic;font-weight:bolder;text-align: center;color:tomato;font-variant-caps: all-petite-caps;">To
      see alerts say "click alerts"</a>
    <i class="fa fa-warning" (click)="showAlerts()" style="font-size:10px;color:orange"
      matTooltip="There are some notifications for you."></i>
  </h6>
</div>


<button (click)="navigateToWelcome()"
  style="height: 30px ;width: 90px;background-color: #1d7b8a;color: white;font-weight: bolder;">Back</button>
<button (click)="createOrUpdatePot()"
  style="height: 30px ;width: 90px;background-color: #1d7b8a;color: white;font-weight: bolder;"
  matTooltip="Click on save button to create a new POT or update an existing POT." *ngIf="!customer.activePot.active"
  matTooltipPosition="after">Create</button>
<button (click)="createOrUpdatePot()"
  style="height: 30px ;width: 90px;background-color: #1d7b8a;color: white;font-weight: bolder;"
  matTooltip="Click on save button to create a new POT or update an existing POT." *ngIf="customer.activePot.active"
  matTooltipPosition="after">Update</button>
<button (click)="navigateToSummary()"
  style="height: 30px ;width: 90px;background-color: #1d7b8a;color: white;font-weight: bolder;"
  matTooltip="Click to see active and expired/closed POTs." matTooltipPosition="after">Summary
</button>
<label *ngIf="speech.listening" style="font-style: italic;font-weight:bolder;text-align: start;color:tomato;">
  Say "Click button-name" ex. Say "Click Back".</label>
<br>
<br>
