::ng-deep .mat-radio-outer-circle {
  height: 12px !important;
  width: 12px !important;
  top: 5px !important;
  border-width: 2px !important;
  border-color:#1d7b8a !important;
  margin-left: 10px;

}
::ng-deep .mat-radio-inner-circle{
  height: 12px !important;
  width: 12px !important;
  top: 5px !important;
  margin-left: 10px;

}

::ng-deep .mat-datepicker-toggle-default-icon{
  color:#1d7b8a;
  height: 15px;
}
::ng-deep .mat-focus-indicator{
  border-radius: 0px;
  color:#1d7b8a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  height: 15px;
}

::ng-deep .mat-calendar-body-label{
  color:#1d7b8a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}


::ng-deep .ng-star-inserted{
  color:#1d7b8a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}
