<div style="
    text-align:center;
    height: fit-content;
    min-height: 550px;
    width: 300px;
    font-size: 10px;
    border:5px solid #42145f;
    font-variant-caps: all-petite-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;">

  <img src="../../assets/img/Natwest.PNG">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;

  <button class="btn btn-primary col-6" (click)="speech.startListening()"
    style="height: 30px;background-color:white;width: 0px;border:transparent" [disabled]="speech.listening">
    <i class="fa fa-microphone" style="font-size:18px;color: #1d7b8a;font-weight:bolder;">
    </i>
  </button>
  <button class="btn btn-danger col-6" (click)="speech.abort()"
    style="height: 30px;background-color:white;width: 0px;border:transparent" [disabled]="!speech.listening">
    <i class="fa fa-microphone-slash" style="font-size:18px;color:red;font-weight:bolder;">
    </i>
  </button>
  <app-listen *ngIf="speech.speechSupported"></app-listen>
  <router-outlet></router-outlet>

</div>
