<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



  <h6 class="w3-ripple" style="
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#42145f;
    color: white;
    font-weight: bolder;
    font-variant-caps: all-petite-caps;">
    Summary
    Of All Pots For {{customer.name}}
  </h6>


  <table mdbTable mdbTableScroll scrollY="true" scrollX="true" maxHeight="200" bordered="true">
    <tr style="border-style: double;">
      <th style="border-style: double;color:#42145f;text-align:center">
        Spending Summary
        <label>
          &nbsp;(Graphical Representation
          <input name="repCheckbox" type="checkbox" [(ngModel)]="graphicalRep" (change)="onCheckboxChange($event)"
            height="5px" width="5px" size="5px" style="background-color: #42145f;" />)
            <label *ngIf="speech.listening && graphicalRep" style="font-style: italic;font-weight:bolder;text-align: start;color:tomato;">
              Say "Click Text" to view in text.</label>
              <label *ngIf="speech.listening && !graphicalRep" style="font-style: italic;font-weight:bolder;text-align: start;color:tomato;">
                Say "Click Graphics" to view in charts.</label>

        </label>
      </th>
    </tr>
    <tr *ngIf="customer.activePot.active">

      <td style="color:#42145f;border-style: double;width: 300px;" *ngIf="graphicalRep">

        <span style="font-weight: bolder;color:#42145f;"
          matTooltip="Balance Remaning : {{customer.activePot.remainingBalance}} (£) and Expiring on {{customer.activePot.expiryDate}} "
          matTooltipPosition="right">
          Pot Name: {{ customer.activePot.potName }}
        </span>
        &nbsp;
        <button (click)="deactivate(customer)"
          matTooltip="Post deactivation the amount present in POT will be credited back to the account initially used to fund the POT."
          matTooltipPosition="after" class="w3-red" style="border-radius: 12px;">
          <i class="fa fa-trash"></i>
        </button>
        <br>
        <a *ngIf="speech.listening" style="font-style: italic;font-weight:bolder;text-align: start;color:tomato;">
          Say "Click Delete" to deactivate pot.</a>

        &nbsp;
        <span *ngIf="customer.activePot.spendings.length == 0;" style="font-style: italic;color:#42145f">
          <br>
          No Spending done yet.</span>

        <div *ngIf="customer.activePot.spendings.length > 0;">
          <igx-pie-chart #piechart height="270px" width="270px" [dataSource]="customer.activePot.pieChartSpendings"
            valueMemberPath="share" labelMemberPath="name" legendLabelMemberPath="name"
            (sliceClick)="pieSliceClickEvent($event)" [legend]="activePotLabels">
          </igx-pie-chart>
        </div>

      </td>
      <td style="color:#42145f;border-style: double;width: 300px;" *ngIf="!graphicalRep">
        <span style="color:#42145f;font-weight: bolder"
          matTooltip="Balance Remaning : {{customer.activePot.remainingBalance}} (£) and Expiring on {{customer.activePot.expiryDate}} "
          matTooltipPosition="right">
          Pot Name: {{ customer.activePot.potName }}
        </span>
        &nbsp;
        <button (click)="deactivate(customer)"
          matTooltip="Post deactivation the amount present in POT will be credited back to the account initially used to fund the POT."
          matTooltipPosition="after" class="w3-red" style="border-radius: 12px;">
          <i class="fa fa-trash"></i>
        </button>
        &nbsp;
        <br>
        <a *ngIf="speech.listening" style="font-style: italic;font-weight:bolder;text-align: start;color:tomato;">
          Say "Click Delete" to deactivate pot.</a>
        <span *ngIf="customer.activePot.spendings.length == 0;" style="font-style: italic;">
          <br>
          No Spending done yet.</span>
        <div *ngFor="let spending of customer.activePot.spendings;" style="color:#42145f;">
          £ {{spending.amountSpent}} spent on
          {{spending.tnxDate | date:"dd-MMM-yy" }} for {{spending.desc}}.
        </div>
      </td>
    </tr>
    <tr *ngFor="let usedPot of customer.usedPots;">

      <td style="border-style: double;color:#42145f;width: 300px;" *ngIf="!graphicalRep">
        <span style="color:#42145f;font-weight: bolder">Pot Name: {{usedPot.potName}}</span>

        <div *ngFor="let spending of usedPot.spendings;" style="color:#42145f;">
          £ {{spending.amountSpent}} spent on
          {{spending.tnxDate | date:"dd-MMM-yy" }} for {{spending.desc}}.
        </div>
      </td>
      <td style="border-style: double;color:#42145f;width: 300px;" *ngIf="graphicalRep">
        <span style="color:#42145f;font-weight: bolder">Pot Name: {{usedPot.potName}}</span>

        <div>
          <igx-pie-chart #piechart height="270px" width="270px" [dataSource]="usedPot.pieChartSpendings"
            valueMemberPath="share" labelMemberPath="name" legendLabelMemberPath="name"
            (sliceClick)="pieSliceClickEvent($event)" [legend]="allLabels">
          </igx-pie-chart>
        </div>
      </td>
    </tr>
  </table>
  <br>
  <button (click)="edit()"
    style="height:30px;width:90px;background-color: #1d7b8a;color: white;font-weight: bolder;">Back</button>
  &nbsp;
  <button (click)="showInformation()" class="w3-deep-purple" style="border-radius: 12px;"><i
      class="fa fa-info-circle"></i></button>

  <label *ngIf="speech.listening" style="font-style: italic;font-weight:bolder;text-align: start;color:tomato;">
    Say "Click button-name" ex. Say "Click INFO".</label>

